.body {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  border-bottom: solid black 1px;
}

.nav li {
  display: inline-block;
  flex-basis: 60%;
  flex-grow: 1;
  padding: 12px;
}

.nav a {
  color: black;
}

.header h3 {
  margin-left: 10px;
  color: MediumAquamarine;
  flex-grow: 2;
}

.main {
  display: flex;
  justify-content: space-between;
}

.column.large {
  width: 630px;
  display: flex;
  flex-direction: column;
}

.column.medium {
  width: 300px;
  margin-left: 40px;
  margin-right: 40px;
  display: flex;
  flex-direction: column;
}

.column.small {
  width: 240px;
  display: flex;
  flex-direction: column;
}

.phish .headline {
  display: flex;
  background-image: url(./images/img-story-main.png);
  height: 300px;
}

.phish .headline p {
  font-weight: bold;
  font-size: 40px;
  color: white;
}

.mainbottom {
  display: flex;
  flex-flow: row wrap;
}

.orca {
  flex: 1;
  min-width: 300px;
}

.earthspin {
  display: flex;
  flex: 1;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
  height: 300px;
  background-image: url(./images/img-story-2.png);
  order: 3;
  min-width: 300px
}

.burger {
  flex: 1;
  min-width: 300px;
}

.cameramemory {
  display: flex;
  flex: 1;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
  background-image: url(./images/img-story-3.png);
  height: 300px;
  order: 4;
  min-width: 300;
}

.catcontrol .headline {
  display: flex;
  background-image: url(./images/img-story-1.png);
  height: 300px;
}

.catcontrol .headline p {
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
}
