.header {
  width: 100%;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  border-bottom: solid black 1px;
}

.nav li {
  display: inline-block;
  flex-basis: 60%;
  flex-grow: 1;
  padding: 12px;
}

.nav a {
  color: black;
}

.header h3 {
  margin-left: 10px;
  color: MediumAquamarine;
  flex-grow: 2;
}

.body {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.main {
  display: flex;
}

.column.large {
  width: 630px;
  display: flex;
  flex-direction: column;
}

.column.medium {
  width: 300px;
  display: flex;
  flex-direction: column;
}

.column.small {
  width: 240px;
  display: flex;
  flex-direction: column;
}

.phish {
  border: solid black 1px;
}

.phish .headline {
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
  border: solid black 2px;
  background-image: url(./images/img-story-main.png);
  height: 300px;
}

.earthspin {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
  height: 300px;
  background-image: url(./images/img-story-2.png);
}

.cameramemory {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
  background-image: url(./images/img-story-3.png);
  height: 300px;
}

.orca, .burger, .earthspin, .cameramemory, .actionstar, .catcontrol, .catcontrol .headline, .newsbites, .newsbitesimg {
  border: solid black 2px;
}
