.header {
  width: 100%;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}

.nav li {
  display: inline-block;
  flex-basis: 60%;
  flex-grow: 1;
}

.header h3 {
  margin-left: 10px;
  color: MediumAquamarine;
  flex-grow: 2;
}
